In [2]:
import pandas as pd

In [5]:
my_books = pd.read_csv("liked_books.csv", index_col=0)

In [10]:
my_books.describe()

       user_id       book_id     rating
count     27.0  2.700000e+01  27.000000
mean      -1.0  4.105047e+06   4.407407
std        0.0  6.814056e+06   1.448056
min       -1.0  1.898000e+03   1.000000
25%       -1.0  9.808750e+04   5.000000
50%       -1.0  4.371430e+05   5.000000
75%       -1.0  5.337486e+06   5.000000
max       -1.0  2.565945e+07   5.000000

In [11]:
my_books["book_id"] = my_books["book_id"].astype(str)

In [12]:
csv_book_mapping = {}
with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id ] = book_id

In [13]:
book_set = set(my_books["book_id"])

In [16]:
overlap_users ={}


with open("goodreads_interactions.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        
        user_id, csv_id, _ , rating, _ = line.strip().split(",")

        book_id = csv_book_mapping.get(csv_id)
        if book_id in book_set:
            if user_id not in overlap_users:
                overlap_users[user_id] = 1
            else:
                overlap_users[user_id] += 1

In [18]:
overlap_users

{'0': 3,
 '1': 1,
 '2': 2,
 '3': 2,
 '5': 1,
 '7': 1,
 '9': 1,
 '10': 1,
 '11': 1,
 '12': 1,
 '15': 3,
 '16': 1,
 '18': 2,
 '20': 1,
 '22': 3,
 '23': 1,
 '26': 2,
 '29': 2,
 '30': 1,
 '31': 2,
 '32': 2,
 '33': 3,
 '34': 1,
 '38': 3,
 '39': 2,
 '40': 1,
 '41': 2,
 '42': 1,
 '43': 1,
 '44': 1,
 '47': 2,
 '50': 1,
 '51': 3,
 '52': 2,
 '60': 1,
 '61': 1,
 '63': 1,
 '66': 3,
 '68': 3,
 '72': 1,
 '73': 1,
 '77': 1,
 '78': 2,
 '79': 3,
 '80': 3,
 '81': 2,
 '84': 1,
 '85': 1,
 '87': 2,
 '89': 1,
 '90': 4,
 '92': 1,
 '98': 2,
 '102': 1,
 '104': 2,
 '106': 2,
 '108': 1,
 '109': 1,
 '110': 1,
 '113': 2,
 '119': 1,
 '121': 1,
 '124': 3,
 '125': 1,
 '126': 2,
 '127': 1,
 '132': 3,
 '133': 1,
 '136': 3,
 '137': 2,
 '138': 1,
 '139': 2,
 '140': 1,
 '145': 2,
 '148': 2,
 '149': 1,
 '150': 2,
 '151': 1,
 '155': 2,
 '156': 1,
 '157': 2,
 '158': 1,
 '159': 1,
 '163': 1,
 '165': 1,
 '166': 2,
 '167': 5,
 '168': 2,
 '170': 1,
 '172': 3,
 '173': 1,
 '174': 2,
 '176': 1,
 '177': 1,
 '179': 1,
 '180': 3,
 '182': 2,
 '184': 1,
 '186': 2,
 '187': 1,
 '190': 2,
 '191': 2,
 '193': 2,
 '194': 2,
 '195': 2,
 '197': 1,
 '200': 3,
 '201': 2,
 '204': 3,
 '205': 1,
 '206': 1,
 '207': 2,
 '211': 3,
 '214': 1,
 '216': 2,
 '217': 3,
 '218': 2,
 '219': 3,
 '220': 2,
 '222': 1,
 '224': 1,
 '225': 1,
 '226': 2,
 '228': 1,
 '229': 1,
 '230': 3,
 '234': 1,
 '236': 1,
 '241': 1,
 '243': 1,
 '244': 1,
 '246': 1,
 '247': 1,
 '248': 2,
 '250': 1,
 '251': 3,
 '253': 2,
 '255': 3,
 '257': 1,
 '258': 2,
 '260': 3,
 '262': 3,
 '265': 1,
 '266': 1,
 '267': 1,
 '268': 1,
 '272': 2,
 '279': 1,
 '281': 2,
 '282': 7,
 '283': 1,
 '284': 1,
 '285': 2,
 '286': 2,
 '287': 2,
 '288': 1,
 '290': 1,
 '292': 2,
 '296': 1,
 '299': 1,
 '302': 1,
 '303': 1,
 '309': 1,
 '310': 1,
 '314': 2,
 '317': 2,
 '319': 3,
 '320': 2,
 '321': 4,
 '323': 5,
 '325': 3,
 '328': 2,
 '329': 2,
 '330': 1,
 '333': 2,
 '334': 2,
 '336': 1,
 '337': 1,
 '343': 1,
 '344': 2,
 '346': 1,
 '349': 3,
 '350': 3,
 '355': 4,
 '358': 2,
 '359': 2,
 '362': 1,
 '363': 2,
 '364': 5,
 '365': 2,
 '367': 3,
 '368': 1,
 '369': 1,
 '371': 2,
 '372': 2,
 '374': 2,
 '375': 1,
 '378': 1,
 '379': 2,
 '380': 1,
 '382': 1,
 '388': 3,
 '389': 1,
 '391': 1,
 '392': 2,
 '393': 1,
 '394': 1,
 '397': 2,
 '398': 2,
 '400': 5,
 '403': 2,
 '405': 2,
 '409': 1,
 '410': 1,
 '411': 2,
 '414': 3,
 '417': 1,
 '418': 2,
 '419': 2,
 '420': 1,
 '421': 1,
 '423': 3,
 '424': 1,
 '425': 5,
 '426': 1,
 '428': 2,
 '430': 1,
 '432': 2,
 '433': 1,
 '434': 1,
 '435': 1,
 '436': 3,
 '438': 2,
 '439': 1,
 '440': 2,
 '443': 2,
 '445': 2,
 '447': 2,
 '448': 1,
 '450': 3,
 '455': 3,
 '456': 2,
 '457': 1,
 '458': 2,
 '462': 2,
 '463': 2,
 '467': 1,
 '468': 3,
 '471': 2,
 '473': 1,
 '474': 3,
 '475': 1,
 '476': 1,
 '477': 2,
 '478': 1,
 '479': 1,
 '482': 1,
 '484': 2,
 '486': 5,
 '491': 4,
 '492': 4,
 '493': 3,
 '494': 2,
 '495': 1,
 '497': 3,
 '498': 4,
 '499': 1,
 '500': 3,
 '501': 1,
 '504': 1,
 '505': 1,
 '509': 1,
 '510': 1,
 '511': 1,
 '512': 4,
 '515': 3,
 '516': 3,
 '517': 3,
 '518': 2,
 '520': 3,
 '522': 3,
 '523': 1,
 '524': 1,
 '525': 3,
 '526': 2,
 '527': 2,
 '528': 4,
 '529': 2,
 '530': 4,
 '531': 1,
 '532': 1,
 '533': 1,
 '534': 1,
 '535': 2,
 '536': 2,
 '538': 1,
 '544': 1,
 '546': 1,
 '548': 1,
 '552': 1,
 '554': 2,
 '555': 3,
 '556': 1,
 '558': 1,
 '559': 1,
 '560': 3,
 '561': 3,
 '562': 1,
 '564': 2,
 '566': 2,
 '567': 1,
 '568': 2,
 '569': 2,
 '572': 3,
 '574': 3,
 '575': 4,
 '577': 3,
 '578': 1,
 '579': 1,
 '580': 1,
 '583': 1,
 '584': 2,
 '585': 1,
 '586': 1,
 '587': 2,
 '588': 1,
 '589': 2,
 '591': 1,
 '592': 1,
 '595': 1,
 '596': 2,
 '597': 1,
 '599': 1,
 '601': 3,
 '602': 1,
 '604': 1,
 '605': 2,
 '606': 1,
 '607': 2,
 '608': 2,
 '609': 2,
 '611': 2,
 '612': 2,
 '613': 1,
 '615': 2,
 '617': 2,
 '618': 1,
 '626': 1,
 '627': 3,
 '628': 3,
 '629': 2,
 '630': 5,
 '631': 2,
 '632': 2,
 '636': 3,
 '637': 1,
 '643': 3,
 '646': 3,
 '648': 2,
 '649': 3,
 '652': 3,
 '653': 3,
 '654': 2,
 '660': 1,
 '662': 1,
 '663': 3,
 '666': 3,
 '667': 1,
 '668': 1,
 '670': 1,
 '672': 1,
 '673': 1,
 '674': 2,
 '677': 2,
 '680': 4,
 '681': 1,
 '682': 3,
 '683': 2,
 '687': 1,
 '688': 1,
 '689': 1,
 '691': 1,
 '695': 1,
 '696': 1,
 '697': 1,
 '698': 2,
 '699': 1,
 '700': 2,
 '701': 1,
 '702': 2,
 '705': 2,
 '706': 1,
 '708': 3,
 '709': 4,
 '711': 2,
 '713': 1,
 '715': 3,
 '716': 4,
 '719': 2,
 '720': 1,
 '722': 1,
 '724': 1,
 '726': 2,
 '727': 1,
 '728': 1,
 '730': 1,
 '731': 2,
 '733': 2,
 '734': 1,
 '735': 2,
 '738': 3,
 '740': 1,
 '741': 1,
 '744': 3,
 '745': 1,
 '749': 3,
 '752': 2,
 '753': 4,
 '754': 1,
 '756': 1,
 '757': 2,
 '758': 2,
 '759': 2,
 '761': 1,
 '762': 1,
 '765': 1,
 '771': 4,
 '772': 1,
 '775': 2,
 '776': 2,
 '777': 1,
 '780': 2,
 '781': 2,
 '782': 1,
 '783': 1,
 '784': 4,
 '785': 1,
 '787': 2,
 '788': 1,
 '790': 1,
 '791': 1,
 '794': 1,
 '795': 2,
 '796': 1,
 '797': 2,
 '798': 3,
 '799': 3,
 '801': 2,
 '802': 1,
 '803': 3,
 '804': 2,
 '805': 3,
 '807': 2,
 '812': 1,
 '813': 2,
 '814': 3,
 '816': 3,
 '817': 1,
 '818': 3,
 '819': 2,
 '820': 2,
 '821': 2,
 '822': 2,
 '823': 4,
 '824': 2,
 '827': 2,
 '829': 3,
 '830': 1,
 '834': 1,
 '838': 3,
 '840': 1,
 '841': 2,
 '842': 1,
 '843': 3,
 '844': 1,
 '846': 1,
 '847': 2,
 '848': 2,
 '849': 1,
 '850': 1,
 '851': 1,
 '853': 2,
 '855': 2,
 '856': 1,
 '857': 2,
 '858': 5,
 '859': 2,
 '861': 1,
 '862': 1,
 '863': 1,
 '865': 2,
 '867': 1,
 '868': 1,
 '869': 1,
 '872': 1,
 '873': 1,
 '874': 6,
 '875': 2,
 '877': 2,
 '879': 2,
 '881': 1,
 '882': 1,
 '883': 1,
 '884': 1,
 '887': 2,
 '890': 1,
 '891': 1,
 '892': 3,
 '894': 2,
 '895': 1,
 '896': 1,
 '897': 2,
 '900': 1,
 '901': 1,
 '902': 1,
 '903': 1,
 '904': 1,
 '905': 1,
 '906': 3,
 '907': 5,
 '908': 1,
 '910': 7,
 '912': 1,
 '915': 2,
 '916': 2,
 '917': 2,
 '918': 1,
 '919': 1,
 '920': 3,
 '921': 1,
 '925': 3,
 '926': 1,
 '928': 2,
 '929': 4,
 '931': 1,
 '932': 1,
 '934': 1,
 '939': 2,
 '941': 2,
 '943': 1,
 '944': 3,
 '945': 1,
 '947': 2,
 '949': 2,
 '950': 2,
 '951': 1,
 '954': 1,
 '955': 1,
 '956': 1,
 '957': 1,
 '961': 2,
 '962': 2,
 '965': 2,
 '966': 1,
 '968': 4,
 '969': 5,
 '973': 3,
 '975': 1,
 '976': 2,
 '980': 2,
 '981': 3,
 '982': 3,
 '984': 1,
 '985': 2,
 '987': 2,
 '988': 1,
 '989': 4,
 '991': 1,
 '992': 1,
 '993': 2,
 '994': 1,
 '995': 2,
 '997': 3,
 '998': 1,
 '999': 6,
 '1000': 4,
 '1001': 1,
 '1003': 2,
 '1004': 2,
 '1005': 3,
 '1006': 1,
 '1008': 1,
 '1012': 1,
 '1013': 2,
 '1014': 1,
 '1015': 1,
 '1017': 3,
 '1018': 1,
 '1019': 1,
 '1020': 3,
 '1021': 1,
 '1022': 1,
 '1025': 2,
 '1028': 2,
 '1033': 3,
 '1034': 2,
 '1036': 2,
 '1037': 2,
 '1039': 2,
 '1040': 1,
 '1042': 1,
 '1047': 1,
 '1049': 1,
 '1051': 1,
 '1052': 3,
 '1053': 3,
 '1056': 1,
 '1057': 1,
 '1058': 2,
 '1060': 2,
 '1061': 1,
 '1062': 4,
 '1067': 1,
 '1070': 3,
 '1071': 1,
 '1073': 2,
 '1076': 1,
 '1077': 7,
 '1080': 1,
 '1081': 2,
 '1082': 1,
 '1085': 2,
 '1086': 2,
 '1089': 2,
 '1090': 3,
 '1091': 2,
 '1092': 1,
 '1095': 1,
 '1097': 1,
 '1098': 2,
 '1100': 4,
 '1103': 2,
 '1104': 1,
 '1106': 2,
 '1107': 2,
 '1109': 2,
 '1112': 2,
 '1113': 2,
 '1115': 2,
 '1117': 2,
 '1118': 1,
 '1120': 1,
 '1122': 1,
 '1123': 2,
 '1124': 1,
 '1125': 1,
 '1126': 3,
 '1129': 1,
 '1132': 2,
 '1133': 5,
 '1134': 3,
 '1135': 2,
 '1138': 3,
 '1141': 1,
 '1142': 1,
 '1145': 2,
 '1147': 2,
 '1148': 2,
 '1149': 1,
 '1151': 1,
 '1152': 1,
 '1154': 4,
 '1156': 4,
 '1159': 1,
 '1162': 1,
 '1163': 3,
 '1165': 1,
 '1167': 2,
 '1168': 3,
 '1169': 1,
 '1170': 2,
 '1171': 1,
 '1173': 3,
 '1174': 1,
 '1175': 2,
 '1177': 3,
 '1179': 2,
 '1180': 2,
 '1182': 2,
 '1185': 2,
 '1186': 3,
 '1187': 5,
 '1190': 1,
 '1191': 1,
 '1192': 1,
 '1197': 2,
 '1198': 3,
 '1201': 2,
 '1202': 2,
 '1203': 3,
 '1204': 1,
 '1205': 2,
 '1206': 2,
 '1207': 1,
 '1208': 3,
 '1209': 2,
 '1211': 3,
 '1212': 2,
 '1214': 1,
 '1215': 2,
 '1218': 2,
 '1220': 1,
 '1221': 4,
 '1222': 1,
 '1223': 2,
 '1224': 3,
 '1226': 1,
 '1227': 3,
 '1229': 1,
 '1230': 1,
 '1232': 3,
 '1233': 1,
 '1235': 1,
 '1237': 3,
 '1238': 2,
 '1239': 1,
 '1240': 2,
 '1243': 4,
 '1244': 1,
 '1246': 4,
 '1247': 1,
 '1248': 1,
 '1249': 1,
 '1250': 1,
 '1251': 1,
 '1252': 6,
 '1253': 1,
 '1254': 2,
 '1255': 1,
 '1256': 1,
 '1257': 2,
 '1258': 3,
 '1259': 1,
 '1260': 1,
 '1264': 1,
 '1267': 3,
 '1269': 2,
 '1271': 3,
 '1272': 2,
 '1274': 3,
 '1275': 2,
 '1276': 1,
 '1277': 1,
 '1278': 2,
 '1279': 1,
 '1281': 2,
 '1284': 1,
 '1288': 3,
 '1289': 1,
 '1291': 1,
 '1292': 1,
 '1295': 5,
 '1296': 1,
 '1297': 1,
 '1298': 1,
 '1301': 5,
 '1302': 2,
 '1303': 1,
 '1307': 1,
 '1309': 4,
 '1311': 4,
 '1313': 2,
 '1318': 2,
 '1319': 1,
 '1320': 2,
 '1321': 4,
 '1322': 2,
 '1323': 2,
 '1324': 2,
 '1328': 3,
 '1330': 2,
 '1331': 1,
 '1332': 3,
 '1333': 2,
 '1334': 1,
 '1336': 2,
 '1339': 1,
 '1343': 1,
 '1345': 1,
 '1347': 1,
 '1351': 1,
 '1354': 2,
 '1355': 2,
 '1356': 1,
 '1357': 5,
 '1358': 1,
 '1359': 4,
 '1362': 3,
 '1363': 2,
 '1364': 3,
 '1365': 3,
 '1366': 1,
 '1368': 2,
 '1370': 2,
 '1371': 2,
 '1372': 3,
 '1374': 1,
 '1375': 1,
 '1376': 1,
 '1377': 1,
 '1379': 1,
 '1380': 1,
 '1383': 2,
 '1385': 1,
 '1388': 2,
 '1389': 1,
 '1390': 2,
 '1394': 1,
 '1395': 2,
 '1399': 1,
 '1400': 1,
 '1404': 1,
 '1405': 1,
 '1406': 1,
 '1409': 2,
 '1412': 1,
 '1413': 2,
 '1415': 2,
 '1418': 3,
 '1419': 1,
 '1424': 1,
 '1426': 3,
 '1428': 1,
 '1430': 1,
 '1433': 2,
 '1437': 1,
 '1439': 2,
 '1440': 3,
 '1442': 2,
 '1443': 1,
 '1444': 1,
 '1445': 1,
 '1447': 1,
 '1448': 4,
 '1449': 1,
 '1451': 1,
 '1453': 2,
 '1454': 1,
 '1455': 2,
 '1456': 4,
 '1457': 3,
 '1462': 2,
 '1463': 1,
 '1464': 2,
 '1465': 1,
 '1466': 2,
 '1467': 1,
 '1468': 1,
 '1471': 1,
 '1472': 2,
 '1473': 1,
 '1475': 3,
 '1476': 3,
 '1482': 1,
 '1483': 3,
 '1485': 4,
 '1486': 1,
 '1487': 3,
 '1488': 2,
 '1493': 2,
 '1500': 6,
 '1501': 1,
 '1502': 1,
 '1503': 2,
 '1504': 2,
 '1505': 3,
 '1508': 4,
 '1511': 1,
 '1512': 2,
 '1513': 4,
 '1517': 1,
 '1518': 5,
 '1523': 2,
 '1524': 1,
 '1526': 1,
 '1528': 2,
 '1529': 1,
 '1530': 4,
 '1532': 1,
 '1534': 3,
 '1535': 2,
 '1536': 2,
 '1537': 4,
 '1541': 1,
 '1542': 1,
 '1544': 1,
 '1545': 1,
 '1549': 3,
 '1553': 1,
 '1556': 2,
 '1557': 1,
 '1561': 3,
 '1562': 1,
 '1563': 1,
 '1564': 1,
 '1566': 3,
 '1568': 2,
 '1570': 1,
 '1572': 3,
 '1573': 1,
 '1574': 3,
 '1578': 1,
 '1582': 3,
 '1585': 1,
 '1586': 3,
 '1588': 1,
 '1589': 2,
 '1590': 1,
 '1592': 4,
 '1593': 3,
 '1594': 4,
 '1597': 1,
 '1598': 5,
 '1599': 1,
 '1600': 3,
 '1602': 1,
 '1603': 3,
 '1604': 2,
 '1607': 2,
 '1608': 2,
 '1609': 1,
 '1613': 1,
 '1616': 1,
 '1617': 2,
 '1624': 4,
 '1625': 7,
 '1627': 3,
 '1630': 1,
 '1635': 3,
 '1636': 2,
 '1639': 4,
 '1641': 1,
 '1645': 2,
 '1646': 3,
 '1647': 2,
 '1648': 1,
 '1649': 1,
 '1650': 2,
 '1653': 1,
 '1655': 2,
 '1656': 2,
 '1657': 1,
 '1658': 2,
 '1660': 3,
 '1662': 2,
 '1665': 2,
 '1666': 2,
 '1668': 1,
 '1669': 4,
 '1670': 3,
 '1671': 5,
 '1672': 3,
 '1675': 1,
 '1676': 2,
 '1677': 5,
 '1678': 1,
 '1680': 2,
 '1682': 1,
 '1684': 1,
 '1685': 1,
 '1686': 1,
 '1688': 1,
 '1691': 2,
 '1692': 3,
 '1693': 1,
 '1694': 4,
 '1697': 2,
 '1698': 2,
 '1699': 4,
 '1701': 1,
 '1703': 1,
 '1704': 1,
 '1705': 2,
 '1711': 3,
 '1715': 1,
 '1716': 3,
 '1718': 2,
 '1720': 1,
 '1724': 3,
 '1725': 2,
 '1728': 2,
 '1729': 3,
 '1731': 1,
 '1734': 1,
 '1735': 1,
 '1736': 1,
 '1737': 2,
 '1739': 1,
 '1740': 1,
 '1741': 3,
 '1742': 1,
 '1744': 2,
 '1746': 1,
 '1747': 1,
 '1748': 2,
 '1749': 2,
 '1750': 2,
 '1751': 1,
 '1752': 1,
 '1753': 3,
 ...}

In [17]:
len(overlap_users)

316341

In [19]:
filtered_overlap_users = set([k for k in overlap_users if overlap_users[k] > my_books.shape[0]/5])

In [21]:
len(filtered_overlap_users)

1258

In [22]:
interactions_list = []

with open("goodreads_interactions.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        
        user_id, csv_id, _ , rating, _ = line.strip().split(",")

        if user_id in filtered_overlap_users:
            book_id = csv_book_mapping[csv_id]
            interactions_list.append([user_id, book_id, rating])

In [23]:
len(interactions_list)

5638701

In [24]:
interactions_list[0]

['282', '627206', '4']

In [27]:
interactions = pd.DataFrame(interactions_list, columns=["user_id", "book_id", "rating"])

In [28]:
interactions = pd.concat([my_books[["user_id", "book_id", "rating"]], interactions])

In [29]:
interactions

        user_id   book_id rating
0            -1   2517439      5
1            -1    113576      5
2            -1     35100      5
3            -1    228221      5
5            -1  17662739      5
...         ...       ...    ...
5638696  804100    475178      0
5638697  804100    186074      0
5638698  804100    153008      0
5638699  804100     45107      0
5638700  804100   1762198      5

[5638728 rows x 3 columns]

In [30]:
interactions["book_id"] = interactions["book_id"].astype(str)
interactions["user_id"] = interactions["user_id"].astype(str)
interactions["rating"] = pd.to_numeric(interactions["rating"])

In [31]:
interactions["user_id"].unique()

array(['-1', '282', '874', ..., '442043', '712588', '804100'],
      dtype=object)

In [32]:
interactions["user_index"] = interactions["user_id"].astype("category").cat.codes

In [39]:
len(interactions["user_index"].unique())

1259

In [37]:
interactions["book_index"] = interactions["book_id"].astype("category").cat.codes

In [42]:
len(interactions["book_index"].unique())

802870

In [43]:
from scipy.sparse import coo_matrix

ratings_mat_coo = coo_matrix((interactions["rating"], (interactions["user_index"], interactions["book_index"])))

In [44]:
ratings_mat_coo

<COOrdinate sparse matrix of dtype 'int64'
	with 5638728 stored elements and shape (1259, 802870)>

In [46]:
ratings_mat = ratings_mat_coo.tocsr()

In [47]:
ratings_mat

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 5638728 stored elements and shape (1259, 802870)>

In [48]:
interactions[interactions["user_id"]=="-1"]

    user_id   book_id  rating  user_index  book_index
0        -1   2517439       5           0      414880
1        -1    113576       5           0       38971
2        -1     35100       5           0      575858
3        -1    228221       5           0      356004
5        -1  17662739       5           0      214285
6        -1    356824       5           0      581743
7        -1  12125412       5           0       59763
8        -1    139069       5           0      124430
10       -1     76680       5           0      722098
11       -1      1898       5           0      276178
12       -1   5096865       5           0      625929
13       -1    228665       5           0      357774
17       -1    437143       5           0      607659
18       -1  18949861       5           0      275433
19       -1   2913377       5           0      496223
20       -1   1215032       5           0       60398
21       -1    883438       5           0      767233
22       -1   5578108       5           0      637486
23       -1    128029       5           0       78172
24       -1     77203       5           0      724379
25       -1      5439       5           0      633999
26       -1   1685995       5           0      188133
27       -1   6448772       5           0      671711
527      -1   8161140       1           0      742532
528      -1     28187       1           0      480322
531      -1  25659450       1           0      431105
532      -1     82599       1           0      746448

In [49]:
my_index = 0

In [50]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(ratings_mat[my_index, :], ratings_mat).flatten()

In [53]:
similarity

array([1.        , 0.04579826, 0.06143443, ..., 0.        , 0.00393254,
       0.02317069])

In [86]:
import numpy as np

indices = np.argpartition(similarity, -100)[-100:]

In [87]:
indices

array([ 407,  479,  704,  946,  436, 1162,  682,  129,  276,  738,  126,
        125, 1163,  807,  435,  995,  684,  426,  897, 1178,  806, 1180,
        153,  672,  916,  892,   96,  687, 1143, 1188,  826,  992,  922,
         88,  660,  321,  776,  781,  927,  287, 1045,  394,  878,   76,
        485, 1204,  392, 1118,  771, 1208, 1111, 1210,  695,  493, 1213,
        942,  379,  495,  496,   59, 1106,  190,  862,  767,   51,  374,
        193,  953,   47, 1001,  795,  195,  638,  794,  294, 1088,  295,
       1087, 1021,  210,  211,  218,  356,  964,  332,   19,  969,  711,
        792,  972, 1249,  540, 1251, 1252,  608,  239, 1255,    6,    2,
          0], dtype=int64)

In [88]:
similar_users = interactions[interactions["user_index"].isin(indices)].copy()

In [89]:
similar_users

        user_id   book_id  rating  user_index  book_index
0            -1   2517439       5           0      414880
1            -1    113576       5           0       38971
2            -1     35100       5           0      575858
3            -1    228221       5           0      356004
5            -1  17662739       5           0      214285
...         ...       ...     ...         ...         ...
5638521  712588  32388712       3        1143      543119
5638522  712588     16322       5        1143      183365
5638523  712588    860543       0        1143      759827
5638524  712588    853510       5        1143      756768
5638525  712588     13890       4        1143      124251

[55734 rows x 5 columns]

In [90]:
similar_users = similar_users[similar_users["user_id"] != "-1"]

In [91]:
similar_users

        user_id   book_id  rating  user_index  book_index
14402      1625  11084145       0         190       30490
14403      1625   6493208       0         190      674555
14404      1625      9742       0         190      794964
14405      1625     49195       0         190      621570
14406      1625     43015       3         190      605901
...         ...       ...     ...         ...         ...
5638521  712588  32388712       3        1143      543119
5638522  712588     16322       5        1143      183365
5638523  712588    860543       0        1143      759827
5638524  712588    853510       5        1143      756768
5638525  712588     13890       4        1143      124251

[55707 rows x 5 columns]

In [92]:
book_recs = similar_users.groupby("book_id").rating.agg(['count', 'mean'])

In [93]:
book_recs

         count      mean
book_id
1           69  4.405797
10           1  5.000000
1000303      1  0.000000
100065       1  0.000000
1000751      2  1.500000
...        ...       ...
9998         2  0.000000
9998825      1  4.000000
9999         1  0.000000
9999107      2  1.000000
99992        1  0.000000

[24567 rows x 2 columns]

In [94]:
books_titles = pd.read_json("books_titles.json")

books_titles["book_id"] = books_titles["book_id"].astype(str)

In [95]:
book_recs = book_recs.merge(books_titles, how="inner", on="book_id")

In [96]:
book_recs

,book_id,count,mean,title,ratings,url,cover_image,mod_title
0,1,69,4.405797,Harry Potter and the Half-Blood Prince (Harry ...,1713866,https://www.goodreads.com/book/show/1.Harry_Po...,https://images.gr-assets.com/books/1361039191m...,harry potter and the halfblood prince harry po...
1,10,1,5.000000,"Harry Potter Collection (Harry Potter, #1-6)",25245,https://www.goodreads.com/book/show/10.Harry_P...,https://images.gr-assets.com/books/1328867351m...,harry potter collection harry potter 16
2,1000303,1,0.000000,John Tyler: The Accidental President,874,https://www.goodreads.com/book/show/1000303.Jo...,https://s.gr-assets.com/assets/nophoto/book/11...,john tyler the accidental president
3,100065,1,0.000000,As a Driven Leaf,2047,https://www.goodreads.com/book/show/100065.As_...,https://s.gr-assets.com/assets/nophoto/book/11...,as a driven leaf
4,1000751,2,1.500000,"Pollyanna (Pollyanna, #1)",58040,https://www.goodreads.com/book/show/1000751.Po...,https://s.gr-assets.com/assets/nophoto/book/11...,pollyanna pollyanna 1
...,...,...,...,...,...,...,...,...
24154,9998,2,0.000000,The Woman in the Dunes,11841,https://www.goodreads.com/book/show/9998.The_W...,https://images.gr-assets.com/books/1361254930m...,the woman in the dunes
24155,9998825,1,4.000000,"Northwest Angle (Cork O'Connor, #11)",3357,https://www.goodreads.com/book/show/9998825-no...,https://s.gr-assets.com/assets/nophoto/book/11...,northwest angle cork oconnor 11
24156,9999,1,0.000000,The Box Man,2791,https://www.goodreads.com/book/show/9999.The_B...,https://images.gr-assets.com/books/1320459929m...,the box man
24157,9999107,2,1.000000,The American Heiress,24522,https://www.goodreads.com/book/show/9999107-th...,https://images.gr-assets.com/books/1307342832m...,the american heiress
24158,99992,1,0.000000,The Best American Science and Nature Writing 2000,134,https://www.goodreads.com/book/show/99992.The_...,https://s.gr-assets.com/assets/nophoto/book/11...,the best american science and nature writing 2000

In [97]:
book_recs["adjusted_count"] = book_recs["count"] * (book_recs["count"] / book_recs["ratings"])

In [98]:
book_recs["score"] = book_recs["mean"] * book_recs["adjusted_count"]

In [100]:
book_recs = book_recs[~book_recs["book_id"].isin(my_books["book_id"])]

In [101]:
book_recs

,book_id,count,mean,title,ratings,url,cover_image,mod_title,adjusted_count,score
0,1,69,4.405797,Harry Potter and the Half-Blood Prince (Harry ...,1713866,https://www.goodreads.com/book/show/1.Harry_Po...,https://images.gr-assets.com/books/1361039191m...,harry potter and the halfblood prince harry po...,0.002778,0.012239
1,10,1,5.000000,"Harry Potter Collection (Harry Potter, #1-6)",25245,https://www.goodreads.com/book/show/10.Harry_P...,https://images.gr-assets.com/books/1328867351m...,harry potter collection harry potter 16,0.000040,0.000198
2,1000303,1,0.000000,John Tyler: The Accidental President,874,https://www.goodreads.com/book/show/1000303.Jo...,https://s.gr-assets.com/assets/nophoto/book/11...,john tyler the accidental president,0.001144,0.000000
3,100065,1,0.000000,As a Driven Leaf,2047,https://www.goodreads.com/book/show/100065.As_...,https://s.gr-assets.com/assets/nophoto/book/11...,as a driven leaf,0.000489,0.000000
4,1000751,2,1.500000,"Pollyanna (Pollyanna, #1)",58040,https://www.goodreads.com/book/show/1000751.Po...,https://s.gr-assets.com/assets/nophoto/book/11...,pollyanna pollyanna 1,0.000069,0.000103
...,...,...,...,...,...,...,...,...,...,...
24154,9998,2,0.000000,The Woman in the Dunes,11841,https://www.goodreads.com/book/show/9998.The_W...,https://images.gr-assets.com/books/1361254930m...,the woman in the dunes,0.000338,0.000000
24155,9998825,1,4.000000,"Northwest Angle (Cork O'Connor, #11)",3357,https://www.goodreads.com/book/show/9998825-no...,https://s.gr-assets.com/assets/nophoto/book/11...,northwest angle cork oconnor 11,0.000298,0.001192
24156,9999,1,0.000000,The Box Man,2791,https://www.goodreads.com/book/show/9999.The_B...,https://images.gr-assets.com/books/1320459929m...,the box man,0.000358,0.000000
24157,9999107,2,1.000000,The American Heiress,24522,https://www.goodreads.com/book/show/9999107-th...,https://images.gr-assets.com/books/1307342832m...,the american heiress,0.000163,0.000163
24158,99992,1,0.000000,The Best American Science and Nature Writing 2000,134,https://www.goodreads.com/book/show/99992.The_...,https://s.gr-assets.com/assets/nophoto/book/11...,the best american science and nature writing 2000,0.007463,0.000000

In [102]:
my_books["mod_title"] = my_books["title"].str.replace("[^a-zA-Z0-9 ]", "", regex = True).str.lower()

In [103]:
my_books["mod_title"] = my_books["mod_title"].str.replace("\s+", " ", regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\sushm\AppData\Local\Temp\ipykernel_14820\2213873673.py:1: SyntaxWarning: invalid escape sequence '\s'
  my_books["mod_title"] = my_books["mod_title"].str.replace("\s+", " ", regex=True)

In [104]:
book_recs = book_recs[~book_recs["mod_title"].isin(my_books["mod_title"])]

In [105]:
book_recs = book_recs[book_recs["count"]>2]

In [106]:
book_recs = book_recs[book_recs["mean"]> 4]

In [107]:
top_recs = book_recs.sort_values("score", ascending=False)

In [83]:
top_recs

,book_id,count,mean,title,ratings,url,cover_image,mod_title,adjusted_count,score
2558,78983,4,4.250000,"Kane and Abel (Kane and Abel, #1)",75215,https://www.goodreads.com/book/show/78983.Kane...,https://s.gr-assets.com/assets/nophoto/book/11...,kane and abel kane and abel 1,0.000213,0.000904
1441,2767793,4,4.250000,"The Hero of Ages (Mistborn, #3)",149260,https://www.goodreads.com/book/show/2767793-th...,https://images.gr-assets.com/books/1480717763m...,the hero of ages mistborn 3,0.000107,0.000456
2260,62291,5,4.800000,"A Storm of Swords (A Song of Ice and Fire, #3)",477834,https://www.goodreads.com/book/show/62291.A_St...,https://images.gr-assets.com/books/1497931121m...,a storm of swords a song of ice and fire 3,0.000052,0.000251
1173,2318271,3,4.333333,The Last Lecture,245804,https://www.goodreads.com/book/show/2318271.Th...,https://images.gr-assets.com/books/1388075896m...,the last lecture,0.000037,0.000159
1100,22034,3,4.333333,The Godfather,259150,https://www.goodreads.com/book/show/22034.The_...,https://images.gr-assets.com/books/1394988109m...,the godfather,0.000035,0.000150
243,119322,4,4.250000,"The Golden Compass (His Dark Materials, #1)",973154,https://www.goodreads.com/book/show/119322.The...,https://images.gr-assets.com/books/1505766203m...,the golden compass his dark materials 1,0.000016,0.000070
1906,4381,3,4.333333,Fahrenheit 451,591506,https://www.goodreads.com/book/show/4381.Fahre...,https://images.gr-assets.com/books/1351643740m...,fahrenheit 451,0.000015,0.000066
600,157993,3,4.333333,The Little Prince,763309,https://www.goodreads.com/book/show/157993.The...,https://images.gr-assets.com/books/1367545443m...,the little prince,0.000012,0.000051

In [108]:
def make_clickable(val):
    return '<a target="_blank" href ="{}">Goodreads</a.'.format(val)

def show_image(val):
    return '<img src="{}" width=50></img>'.format(val)

In [109]:
top_recs.style.format({"url": make_clickable, "cover_image": show_image})